.grid-container {
  display: grid;
  grid-template-columns: 349px;
  grid-template-rows: 82px 82px 82px 82px 82px 81px 82px;
  grid-template-areas: "." "." "." "." "." "." ".";
}

body {
  margin: 0px;
  width: 349px;
}

div {
  text-align: -webkit-center;
  margin: auto;
  display: block;
}

img {
  width: 100%;
  margin: auto;
}
