.grid-container {
  display: grid;
  grid-template-columns: 349px;
  grid-template-rows: 82px 82px 82px 82px 82px 81px 82px;
  /* grid-template-areas: "one" "two" "three" "four" "five" "six" "seven"; */
  grid-template-areas: "." "." "." "." "." "." ".";
}

/*.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }*/

body {
  margin: 0px;
  width: 349px;
}

div {
  text-align: -webkit-center;
  margin: auto;
  display: block;
}

img {
  width: 100%;
  margin: auto;
  display: block;
}
